.accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 12em;
}

.accordion-item-content,
.accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
}

.accordion {
    padding: 0;
    margin: 0 auto;
    font-family: "PT Sans" sans-serif
}

.accordion .accordion-item {
  border-bottom: 1px solid #666;
  padding: 1em;
}

.accordion h1 {
  margin: 0;
}