.popup-autocomplete {
  background-color: black;
}

.popup-autocomplete-open {
  position: absolute;
  z-index: 1;
  background-color: yellow;
  margin-top: 14px;
  max-width: 100px;
  right: 0;
  top: 2;
  height: 100px;
  width: 50px;
}
