/* .list-item-item {
    font-size: 120%;
} */

/* .list-item-description {
    font-size: 100%;
} */

.list-item-div {
  background-color: white;
  border-bottom: 1px solid;
  border-bottom-color: palegoldenrod;
}
