/* NavBar */
.navbarwithburger {
  height: 3rem;
}

.non-bootstrap-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #333;
  height: 3rem;
}

.textarea-div {
  flex: 1;
  width: 70%;
  height: 2rem;
}

.textarea-div > textarea {
  width: 50%;
  height: 2rem;
  resize: none;
  background-color: #333;
}

.textarea-div > textarea:focus {
  outline: none;
  height: 6rem;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  background-color: #f8f9fa;
  transition: height 0.5s, background-color 0.5s;
  /* transition: width 2s; */
}
